<nav class="nav__bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav__menu">
          <li class="nav__menu-item">
            <a href="/admin">Quản Lý Người Dùng</a>
          </li>
          <li class="nav__menu-item"><a href="/logout">Đăng Xuất</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<main class="main">
  <div class="container">
    <table>
      <thead>
        <tr>
          <th class="table__rank">STT</th>
          <th class="table__title">Tiêu Đề</th>
          <th class="table__control">Thao Tác</th>
        </tr>
      </thead>
      <tbody>
        {{#each data1}}
          <tr>
            <td class="table__rank">{{sum @index 1}}</td>
            <td class="table__title" style="text-align: left">
              <i class="fa-solid fa-newspaper"></i>
              {{this.title}}
            </td>
            <td class="table__delete-user">
              <a href="/admin/deletearticle/{{this._id}}" id="#delete-user">Xóa
                bài viết</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>