<header>
    <div class="header__star">
        <div class="wrapper flex-box">
            <ul class="header__star-list flex-box">
                <li class="header__star-item flex-box">
                    <i class="fa-solid fa-star"></i>
                    <a href="#">SEA GAME31</a>
                </li>

                <li class="header__star-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="#">EMAGAZINE</a>
                </li>

                <li class="header__star-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="#">PODCAST</a>
                </li>
            </ul>

            <div class="header__star-search flex-box">
                <input type="header__text" placeholder="Tìm kiếm...">
                <i class="fa-solid fa-magnifying-glass "></i>
            </div>
        </div>
    </div>

    <nav class="nav">
        <div class="header__tag">
            <div class="wrapper">
                <a href="/">
                    <img src="/image/logo_kenh142022.png" alt="" class="header__tag-logo">
                </a>

                <ul class="header__tag-list flex-box">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <li><a href="">#U23 Việt Nam vô địch SEA Games 31</a></li>
                    <li><a href="">#LHP Cannes 2022</a></li>
                    <li><a href="">#SEA Games 31</a></li>
                </ul>
            </div>
        </div>

        <div id="sticky_nav" class="header__nav ">
            <div class="wrapper">
                <ul class="header__nav-list">
                    <li class="icon">
                        <a href="/">
                            <i class="fa-solid fa-house"></i>
                        </a>
                    </li>
                    <li><a href="/kinh-te" title="Kinh tế">Kinh tế</a></li>
                    <li><a href="/xa-hoi" title="Xã hội">Xã hội</a></li>
                    <li><a href="/the-gioi" title="Thế giới">Thế giới</a></li>
                    <li><a href="/the-thao" title="Thể thao">Thể thao</a></li>
                    <li><a href="/van-hoa" title="Văn hoá<">Văn hoá</a></li>
                    <li><a href="https://kenh14.vn/xem-mua-luon.chn" title="Xem mua luôn">Xem mua luôn</a></li>
                    <li><a href="https://kenh14.vn/doi-song.chn" title="Đời sống">Đời sống</a></li>
                    <li><a href="https://kenh14.vn/money-z.chn" title="Money-Z">Money-Z</a></li>
                    <li><a href="https://kenh14.vn/an-quay-di.chn" title="Ăn-Quẩy-Đi">Ăn-Quẩy-Đi</a></li>
                    <li><a href="https://kenh14.vn/xa-hoi.chn" title="Music">Music</a></li>
                    <li><a href="https://kenh14.vn/the-gioi-do-day.chn" title="Star">Star</a></li>
                    <li><a href="https://kenh14.vn/sport.chn" title="Sắc đẹp">Sắc đẹp</a></li>
                    <li><a href="https://kenh14.vn/hoc-duong.chn" title="Học đường">Học đường</a></li>
                    <li><a href="http://video.kenh14.vn/" title="Video">Video</a></li>
                    <li>
                        <i class="fa-solid fa-ellipsis"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
