<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kênh tin tức giải trí - Xã hội - News.vn</title>
    <link
      rel="icon"
      href="/image/news_logo.png"
      type="image/gif"
      sizes="16x16"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="//fdn.fontcdn.ir" />
    <link rel="preconnect" href="//v1.fontapi.ir" />
    <link href="https://v1.fontapi.ir/css/SFProDisplay" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="/font/fontawesome-free-6.1.1-web/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/style.css" />
    
  </head>
<body>
    <div class="main">
        {{>header}}
        <div class="container">
            {{{body}}}
        </div>
        {{>footer}}
    </div>
    <div class="modal__container">
      <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
          <div class="auth-form">
            <div class="auth-from__container">
              <div class="auth-form__header">
                <h3 class="auth-form__heading">Đăng ký</h3>
                <span class="auth-form__switch-btn switch__btn-login"
                  >Đăng nhập</span
                >
              </div>

              <form method ="post" action="/register" id="form-1">
                <div class="auth-form__form">
                  <div class="auth-form__group">
                    <input
                      type="text"
                      class="auth-form__input"
                      name="username"
                      id = "username"
                      placeholder="Username"
                    />
                  </div>
                  <div class="auth-form__group">
                    <input
                      type="password"
                      class="auth-form__input"
                      name = "password"
                      id = "password"
                      placeholder="Mật khẩu của bạn"
                    />
                  </div>
                  <div class="auth-form__group">
                    <input
                      type="password"
                      class="auth-form__input"
                      name = "retypepass"
                      id = "retypepass"
                      placeholder="Nhập lại mật khẩu"
                    />
                  </div>
                </div>
                <div class="auth-form__aside">
                  <p class="auth-form__policy-text">
                    Bằng việc đăng kí, bạn đã đồng ý với News về
                    <a href="#">Điều khoản dịch vụ </a>&
                    <a href="#">Chính sách bảo mật</a>
                  </p>
                </div>
                <div class="auth-form__controls">
                  
                  <button class="btn btn--primary" onclick="alert('dang ky thanh cong')">ĐĂNG KÝ</button>
                  
                </div>
              </form>
              <button
                    class="btn__close-auth btn btn-normal auth-form__controls-back"
                  >
                    TRỞ LẠI
              </button>
            </div>
            <div class="auth-form__sns">
              <a
                href="#"
                class="btn btn--size-s btn--with-icon auth-form__sns--fb"
                ><i class="auth-form__sns-icon fa-brands fa-facebook"></i>
                <span class="auth-form__sns-label"> Kết nối với Facebook </span>
              </a>
              <a
                href="#"
                class="btn btn--size-s auth-form__sns--google btn--with-icon"
                ><i class="auth-form__sns-icon fa-brands fa-google"></i>
                <span class="auth-form__sns-label">
                  Kết nối với Google
                </span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal__container2">
      <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
          <div class="auth-form">
            <div class="auth-from__container">
              <div class="auth-form__header">
                <h3 class="auth-form__heading">Đăng nhập</h3>
                <span class="auth-form__switch-btn switch__btn-auth"
                  >Đăng ký</span
                >
              </div>

              <form action="/login" method = "post">
                <div class="auth-form__form">
                <div class="auth-form__group">
                  <input
                    type="text"
                    class="auth-form__input"
                    name="username"
                    id="username"
                    placeholder="Email / Tên đăng nhập"
                  />
                </div>
                <div class="auth-form__group">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    class="auth-form__input"
                    placeholder="Mật khẩu của bạn"
                  />
                </div>
              </div>
              <div class="auth-form__controls auth-form-login">
                
                <button class="btn btn--primary"  onclick="alert('dang nhap thanh cong')">ĐĂNG NHẬP</button>
              </div>
              </form>
              <button
                  class="btn btn-normal auth-form__controls-back btn__close-login"
                >
                  TRỞ LẠI
                </button>
            </div>
            <div class="auth-form__sns">
              <a
                href="#"
                class="btn btn--size-s btn--with-icon auth-form__sns--fb"
                ><i class="auth-form__sns-icon fa-brands fa-facebook"></i>
                <span class="auth-form__sns-label"> Kết nối với Facebook </span>
              </a>
              <a
                href="#"
                class="btn btn--size-s auth-form__sns--google btn--with-icon"
                ><i class="auth-form__sns-icon fa-brands fa-google"></i>
                <span class="auth-form__sns-label">
                  Kết nối với Google
                </span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src = "/app.js"></script>
    <script src = "/index.js"></script>
    <script src = "/auth.js"></script>
    {{!-- <script>
      Validator({
        form: '#form-1',
        rules: [
          Validator.isRequired('#username'),
          Validator.isRequired('#password'),
        ]
      })
    </script> --}}
</body>

</html>